main h1 {
  padding: 30px 150px 10px;
  color: var(--color-sub-3);
  font-style: italic;
}

h2 {
  text-align: center;
  padding: 0.5em;
  font-size: 2.3em;
  font-weight: bold;
  color: var(--color-sub-1);
}

.group-lesson,
.private-lesson {
  display: flex;
  justify-content: center;
}

.group-item,
.private-item {
  width: 20em;
}

.left p {
  text-align: left;
  color: var(--text-color);
  margin-top: 10px;
  font-size: 0.8em;
}

b {
  color: var(--color-sub-2);
  font-size: 1em;
}

.padding {
  margin: 1em 3em 4em;
  padding: 1em 2em;
  background-color: var(--color-sub-3);
  color: var(--color-sub-2);
  line-height: 1.5;
  border-radius: 20px;
}

.book-now {
  color: var(--color-sub-1);
  text-decoration: none;
  background-color: var(--color-sub-2);
  padding: 5px 15px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 15px;
  transition: all 300ms ease-in-out;
}

.book-now:hover {
  color: var(--text-color);
  background-color: var(--color-sub-1);
}

@media (max-width: 1000px) {
  main h1 {
    padding: 50px 50px 30px;
    color: var(--color-sub-3);
    font-style: italic;
  }

  .group-lesson,
  .private-lesson {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .group-item,
  .private-item {
    width: 80vw;
  }
}
