:root {
  --color-main: #03a3df;
  --color-sub-1: #1b447f;
  --color-sub-2: #ecb722;
  --color-sub-3: #444444;
  --text-color: #ffffff;
  --bg-color: #ecb62226;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
   background-color: var(--bg-color);
}

.main-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "logo nav"
    "main main"
    "footer footer";
}

.logo {
  grid-area: logo;
  top: 0;
  position: sticky;
  height: 8rem;
  background-color: var(--color-main);
}

#logo {
  width: 15em;
  padding: 15px;
}

nav {
  grid-area: nav;
  top: 0;
  position: sticky;
  height: 8rem;
  background-color: var(--color-main);
}

nav img {
  justify-content: flex-start;
}

label {
  cursor: pointer;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
}

nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-color);
}

nav a:hover {
  text-decoration: underline;
}

.btn {
  background-color: var(--color-sub-1);
  padding: 0 20px;
  margin: 0 15px 0 5px;
  height: 70px;
  transition: all 300ms ease-in-out;
}

.btn:hover {
  background-color: var(--color-sub-2);
  color: var(--color-sub-1);
  text-decoration: none;
}

nav svg {
  fill: var(--text-color);
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-image: url(../images/footer-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  text-align: center;
}

.contact-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--color-sub-2);
  color: var(--color-sub-1);
  padding: 1.5em;
  margin: 3em 3em 0.7em;
}

.contact-detail p {
  font-size: 0.8em;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18em;
  height: 6em;
  padding-top: 20px;
}

.footer-item p {
  height: 4em;
}

.footer-icon i {
  font-size: 2em;
  margin-bottom: 20px;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 18em;
  height: 4em;
}

footer ul li {
  list-style: none;
  font-size: 1.5em;
}

footer ul li a {
  color: var(--text-color);
  transition: all 300ms ease-in-out;
}

footer ul li a:hover {
  color: var(--color-sub-2);
}

.nondiscriminatory {
  font-size: 12px;
  margin: 0 10em 1em;
}

@media (max-width: 1260px) {
  .links-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: var(--color-main);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.3);
    transition: 0.6s ease-out;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
  }

  nav a {
    text-align: center;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    justify-content: center;
  }

  .nav-links {
    padding: 20px 30px;
    justify-content: flex-start;
  }

  .btn {
    margin: 10px;
    width: 8.2rem;
  }

  .open-sidebar-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .close-sidebar-button {
    display: block;
    padding-right: 260px;
  }

  #sidebar-active:checked ~ .links-container {
    right: 0;
  }

  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }

  .nondiscriminatory {
    font-size: 10px;
    margin: 0 10px 10px;
  }

}

@media (max-width: 600px) {
  #logo {
    width: 10em;
    padding: 35px 10px;
  }

  nav {
    padding-right: 20px;
  }
}

